<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800594048928-1o26bc3pf11glolt8eb9nu9ldu891q0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800594048928-1o26bc3pf11glolt8eb9nu9ldu891q0m</string>
	<key>API_KEY</key>
	<string>AIzaSyDFe5jhQmB6JtYg0alI8YuheiLSgXiZCik</string>
	<key>GCM_SENDER_ID</key>
	<string>800594048928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ifg-mobile</string>
	<key>PROJECT_ID</key>
	<string>i-feel-good-9ea0b</string>
	<key>STORAGE_BUCKET</key>
	<string>i-feel-good-9ea0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800594048928:ios:3d798cccedf6d5434516c5</string>
	<key>DATABASE_URL</key>
	<string>https://i-feel-good-9ea0b.firebaseio.com</string>
</dict>
</plist>